<style>
    .page-header {
        margin-left: 20px;
    }

</style>
<div class="page-header">
    <H3>About</H3>
    <p>I'm just a coder for fun.</p>
    <p1>Hi there! I'm MgBacon, creator of the Farmbot (not to be mistaken with farmbot.io) which is a bot for Discord which posts news for the game "Warframe" aswell as a subscription bot for youtube. <br> This site is very much under construction as I wanted to get the "Quotes" page out as quickly as possible.</p1>
    <br><br>
    <i>tmw you've been compiling your boys code all night</i>
    <br>
    <center>
        <a href="status.php"><img border="0" alt="pi" src="/img/logos/pi_logo.png" width="30" height="40"></a>
        <a href="https://hummingbird.me/users/MgBacon"><img border="0" alt="hb" src="/img/logos/hb.png" width="40" height="40"></a>
        <a href="https://player.me/mgbacon"><img border="0" alt="player" src="/img/logos/player.png" width="40" height="40"></a>
        <a href="http://steamcommunity.com/id/mgcbkmn"><img src="/img/logos/steam.png" width="40" height="40"></a>
        <a href="https://www.youtube.com/channel/UCuMEQHHpPTXfYIdJFzCKp1w"><img src="/img/logos/yt.png" width="60" height="40"></a>
    </center>
</div>