<link rel="stylesheet" type="text/css" href="/css/about.css">
<div class="page-header">
    <H3>About</H3>
    <p1>Hi there! I'm MgBacon, creator of the Farmbot (not to be mistaken with <a href="https://farmbot.io/">farmbot.io</a>) which is a bot for Discord which posts news for the game "Warframe" aswell as a subscription bot for youtube. <br> This site is very much under construction as I wanted to get the "Quotes" page out as quickly as possible.</p1>
    <p2><i>yes I haven't worked on this for months.</i></p2>
    <!-- todo: CSS + proper footer, if not whole other page -->
    <center>
        <a href="https://github.com/MgBacon"><img src="img/logos/github.png" width="40" height="40"></a>
    </center>
</div>