<link rel="stylesheet" type="text/css" href="/css/api.css">
<div class="page-header">
<h1>API</h1>
<p>Most data is (or will be) accessible via an API. The general path is <code>/api/v1/</code>. Below a list of data which is accessible already.</p>
<h2>Quotes</h2>
<ol>
    <li>Relative path: <code>/quotes</code></li>
    <li>Returns all quotes via a <code>GET</code></li>
    <li><code>GET</code> <code>/quotes/random</code> returns a random quote.</li>
    <li><code>POST</code> <code>/quotes</code> will add a quote to the database. You'll have to add following parameters to your request: <code>quote</code>, <code>author</code> and <code>year</code> (All Strings).<br> Note: You can only add 100 Quotes every 15 minutes and quotes have to be unique after they are trimmed server side.
    </li>
</ol>
    <center>
        <img src="/img/api.png" alt="it's not that hard lol">
    </center>
</div>

