Farmbot is a bot that autoposts youtube videos from subbed channel. Those subs work channelwise. You need the <code>Manage Channel</code> permission to be able to manage subs. Click <a href="/discord">here</a> to manage the subs in your servers!

