<div class="page-header">
    <style>
        h2 {
            font-family: Ubuntu;
            color:#1e90ff;
        }
    </style>
    <center>
        <h2></h2>
        <button type="button" class="btn btn-primary" id="get-random"><img src="/img/reload.svg" width="30" /></button>
        <br>
        <img src="/img/phd_vacation.gif"><br><br><br>
    </center>
    <script>
        $.get("/api/v1/quotes/random",function(data,status,xhr){
            var quotes=data.quotes;
            var quote=quotes[0];
            var quoteString=quote.quote+" - "+quote.author+" "+quote.year;
            $('h2').html(quoteString);
        });
    </script>
</div>