<div class="page-header">
    <style>
        h2 {
            font-family: Ubuntu;
            color:#1e90ff;
        }
    </style>
    <center>
        <h2 id='quote'></h2>
        <button type="button" class="btn btn-primary btn-lg" id="get-random" onclick='getRandomQuote()'><span class="glyphicon glyphicon-refresh"></span></button>
        <br>
        <img src="/img/phd_vacation.gif"><br><br><br>
    </center>
    <script>
    document.load=getRandomQuote()
        function getRandomQuote() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/api/v1/quotes/random',false); // false for synchronous request
            xmlHttp.send();
            var data = JSON.parse(xmlHttp.responseText);
            var quote=data.quotes[0];
            var quoteString=escapeHtml(quote.quote)+" - "+escapeHtml(quote.author)+" "+escapeHtml(quote.year);
            if(document.getElementById('quote').innerHTML==quoteString){
                getRandomQuote();
                return;
            }
            document.getElementById('quote').innerHTML = quoteString;
        }
    function escapeHtml(unsafe) {
        return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
    }
    </script>
</div>