<!-- views/signin.handlebars -->
<style>
    form {
        text-align: center;
    }
    .btn-sm{
        margin: 5px;
    }
    .data {
        border: 1px solid #848484;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        outline:0;
        height:25px;
        width: 275px;
        padding-left:10px;
        padding-right:10px;
    }
</style>
<div class="jumbotron">
    <form id="login" class="form-inline" action="/auth/login" method="post">
        <legend>Login</legend>
        <div>
            <input class="data" type="email" name="email" placeholder="Email"/>
        </div>
        <div>
            <input class="data" type="password" name="email_confirm" placeholder="Password"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Login"/>
        </div>
    </form>

    <div id="local" >
        <a data-toggle="collapse" href="#forgot-password" class="btn btn-default btn-md" role="button">I forgot my password.</a>
        <a href="/register" class="btn btn-default btn-md">I need to make an account.</a>
    </div>
    <form id="login" class="collapse" action="/login" method="post">
        <div>
            <p></p>
            <label>Username:</label>
            <input class="data" type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input class="data" type="password" name="password"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
        </div>
    </form>

    <form id="forgot-password" class="form-horizontal collapse" action="/auth/reset" method="post">
        <legend>Please enter the email you have registed with. We will then send your further instructions.</legend>
            <div>
                <input class="data" type="email" name="email" placeholder="Email"/>
            </div>
        <div>
            <input class="data" type="email" name="email_confirm" placeholder="Repeat your email"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Reset"/>
        </div>
    </form>
</div>