<link rel="stylesheet" type="text/css" href="/css/quotes.css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="/js/scripts.js" type="text/javascript"></script>
<script src="/js/alert.js" type="text/javascript"></script>

<h1>Best quotes page.</h1>

<center>
        <form class="form-inline" action="#" method="post" id="quoteAdd">        <!--onSubmit="window.open('/quotes')"-->
            <input class="form-control" type="text" placeholder="Quote" name="quote" required>
            <input class="form-control" type="text" placeholder="Author" name="author" required>
            <input class="form-control" type="text" placeholder="Date" name="year" required>
            <button type="button" onclick="addQuote()" class="btn btn-primary">Submit quote</button>
        </form>
    <!--<p1>You can add quotes if you <a href="/register">register</a>. Already have an account? <a href="/login">Login!</a></p1>-->
<table id="quoteTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Quote</th>
        <th>Author</th>
        <th>Year</th>
    </tr>
    </thead>
</table>
</center>
<script>$(document).ready(getAllQuotes());</script>
</div>
